

page-profile {
    .profilebackground{
      background-image: url('../assets/imgs/bluebackground.jpg');
    }

  ion-avatar > img {
    width:100% !important;
height : 100% !important;
max-width: 100px !important;  //any size
max-height: 100px !important;
margin:auto;
border-bottom-style: none;
  }

  .scroll-content{
    // align-content: center;
    display:flex;
    flex-direction: column;
    // justify-content: center;
    text-align: center;
  }

  ion-card.card{
    box-shadow: none;
    background: rgba(0, 0, 0,0.3);
    // border-radius: 5px;
  }

  .item{
    margin-bottom: 10px;
    background: none;
    border: medium none;
    color:#fff!important;
  }

  // a,b,
  // ion-card-header.card-header{
  //   color:#fff;
  // }
}
